<div class="row">
    <div class="col-md-6">
        <asw-pie-donut 
            [config]="config"
            [label]="label"
            [amount]="amount"
            [currencyCode]="currencyCode"
            [isLegendSort]="isLegendSort"
            [legendType]="legendType"
            [legendLayout]="legendLayout"
            (donutSliceClick)="donutSliceClick($event)">
        </asw-pie-donut>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <asw-semi-circle-donut
            [config]="semiCircleDonut">

        </asw-semi-circle-donut>
    </div>
</div>